* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
video {
  width: 100%;
  display: block;
  height: auto;
}

main {
  margin-inline: auto;
}

@font-face {
  font-family: OpenSans;
  src: url(OpenSans.tff);
}

@font-face {
  font-family: Dosis;
  src: url(Dosis.tff);
}

h1 {
  font-family: Dosis;
  font-size: 52px;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-family: Dosis;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-family: Dosis;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
}
