---
const url = "https://seeregjwqrwebkvgypdc.supabase.co/rest/v1/testemonials?limit=3&offset=1";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZXJlZ2p3cXJ3ZWJrdmd5cGRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE3MTYxNDYsImV4cCI6MTk5NzI5MjE0Nn0.XDxHWVCU6_Dkqi_CKR_urwduoP07Z4OSCb8reQOd0Aw",
  },
};
const response = await fetch(url, options);
const data = await response.json();
const randomRows = data.sort(() => Math.random() - 0.5).slice(0, 3);

console.log(data);
import "../styles/layout.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Testamopnials from "../components/Testamopnials.astro";
import Hylde from "../components/Hylde.astro";
import Indhold from "../components/Indhold.astro";
import Billede1 from "../components/Billede1.astro";
import Billede2 from "../components/Billede2.astro";
import Billede3 from "../components/Billede3.astro";
import BurgerMenu from "../components/BurgerMenu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <Header />
      <BurgerMenu />
      <video controls muted autoplay="autoplay" loop="">
        <source src="video/trailer.mp4" type="video/mp4" />
      </video>
      <Indhold />
      <Billede1 />
      <Billede2 />
      <Billede3 />
      <h3>Det siger kunderne om Royal Escapes</h3>
      <br />
      <br />
      <Hylde>
        {
          data.map((act) => {
            return <Testamopnials id={act.id} description={act.description} name={act.name} />;
          })
        }
      </Hylde>
    </main>
    <Footer />
  </body>
</html>
