<a href="https://royalescapes.dk/dk/escape-rooms/the-royal-playroom">
  <section class="grid_1-1">
    <div>
      <img src="img/3.webp" alt="" />
    </div>
    <div>
      <h2>The Royal Playroom</h2>
      <p>
        Antal personer: 2-3 <br />

        Pris: 350 kr pr person (Kun åbent søndage og mandage)
      </p>
    </div>
  </section></a
>
<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  h2 {
    font-weight: 800;
    margin: auto;
    text-align: left;
    max-width: 300px;
  }
  p {
    max-width: 300px;
    text-align: left;
    margin: auto;
    align-items: center;
    margin-top: 30px;
  }
  br {
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }

  @media (max-width: 800px) {
    .grid_1-1 {
      display: block;
    }
    h2 {
      margin-top: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
</style>
