<header>
  <nav>
    <ul>
      <h1>det her er en header</h1>
      <li>Forside</li>
      <li>Escape rooms</li>
      <li>Book nu</li>
      <li>Gavekort</li>
      <li>Om os</li>
      <li>Kontakt os</li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: sticky;
    justify-content: space-between;
  }

  nav ul a {
    text-decoration: none;
    color: black;
    font-size: large;
    list-style-type: none;
  }
  ul {
    text-align: center;
    list-style: none;
    display: flex;
    gap: 4rem;
  }

  header a {
    text-transform: uppercase;
  }
</style>
