<h5>TØR DU? KAN DU?</h5>
<h2>KOM OG UDFORSK DRONNIGENS MØRKE HEMMELIGHEDER OG GÅDER</h2>
<p>Kender du allerede til den royale historie om dronningens mange hemmeligheder og gåder? Eller er du blot nysgerrig for at høre mere?</p>
<br />
<p>
  Nu har du mulighed for at prøve det bedste escaperoom i Danmark. Vi gør en stor dyd ud af at være et af Københavns billigste og bedste Escape Rooms som lægger stor vægt på historiefortælling, så man føler at man virkelig er en del af historien. <br />
  Vores andet og tredje rum gemmer på mange nye sider af dronningen, og ikke mindst fortællingen. Men du skal være modig, da disse rum ikke er for sarte sjæle. + 16
</p>
<br />
<a class="knap" href="https://royalescapes.dk/dk/escape-rooms/booking">Book nu</a>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player class="blod" src="https://assets6.lottiefiles.com/packages/lf20_22Hk9aGbvY.json" background="transparent" speed="1" style="width: 100px; height: 100px;" autoplay loop=""></lottie-player>

<style>
  @font-face {
    font-family: Dosis;
    src: url(Dosis-VariableFont_wght.ttf);
  }

  h5 {
    color: #d2573f;
    font-family: Dosis;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
    font-size: xx-large;
  }

  p {
    margin: auto;
    max-width: 700px;
    text-align: center;
    font-size: large;
    line-height: 32px;
  }
  br {
    margin-bottom: 1rem;
  }

  .knap {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    max-width: 100px;
    color: #3c3c3c;
    text-decoration: none;
    background-color: #ef9786;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
  }
  a:hover {
    background-color: #ffc3b8;
  }

  .blod {
    margin: auto;
    margin-top: -7px;
  }

  @media (max-width: 800px) {
    h5 {
      color: #d2573f;
      font-family: Dosis;
      font-size: 3rem;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-weight: 500;
      max-width: 300px;
      text-align: center;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      margin: auto;
      max-width: 300px;
      text-align: center;
    }
    br {
      margin-bottom: 1rem;
    }
  }
</style>
