<div>
  <h1>Quiz: The Royal Playroom</h1>
  <img src="img/dukke.webp" alt="" />
  <p>Denne quiz indeholder spørgsmål til vores mest uhyggelige rum. Tag testen for at se om du er modig nok til at spille.</p>
  <a class="knap" href="">START QUIZ</a>
</div>

<style>
  img {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    max-width: 480px;
    margin: auto;
    font-family: Dosis;
    font-size: large;
  }
  h1 {
    padding-top: 20px;
  }
  .knap {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    max-width: 100px;
    color: #3c3c3c;
    text-decoration: none;
    background-color: #ef9786;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  a:hover {
    background-color: #ffc3b8;
  }
  div {
    background-color: rgb(248, 245, 245);
    padding-bottom: 10px;
  }

  @media (max-width: 800px) {
    p {
      max-width: 300px;
    }
    img {
      width: 100%;
    }
  }
</style>
