---
const { Name, Text } = Astro.props;
---

<li>
    <article>
      <figure class="container">
        <div class="centered">{Name}</div>
        <div class="top-right">{Text}</div>
      </figure>
    </article>
  </li>
  